# Ignore compiled object files
*.o
*.obj

# Ignore executable files (Windows and Linux)
*.exe
*.out

# Ignore build folders
build/
bin/
debug/
release/

# Ignore Visual Studio files
*.pdb
*.ilk
*.idb

# Ignore IDE folders
.vs/
.vscode/
